*{
    margin: 0%;
    padding: 0%;
}
#r1 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(197, 57, 219);
}
#r1 img {
    height: 150px;
    width: 150px;
    padding-left: 80px;
}
#r1 h3 {
    font-size: 40px;
    color: aliceblue;
}
#r2 {
    height: 7vh;
    width: 100%;
    margin-top: 2px;
    display: flex;
    align-items: center;
    background-color: rgb(197, 57, 219);
}
#r2 a {
    text-decoration: none;
}
#r2 a:hover {
    height: 7vh;
    background-color: red;
    display: flex;
    align-items: center;
}
#id1 {
    width: 140px;
    font-size: 30px;
    color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;
}
#id2 {
    width: 200px;
    font-size: 30px;
    color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;
}
#id3 {
    width: 60px;
    font-size: 30px;
    color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;
}
#id4 {
    width: 130px;
    font-size: 30px;
    color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;
}
#id5 {
    width: 60px;
    font-size: 30px;
    color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;
}
section {
    height: 90vh;
    width: 100%;    
}
section form {
    height: 80vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
section form h2 {
    margin-top: 20px;
    font-size: 30px;
}
section form h5 {
    font-size: 18px;
}
section form input {
    font-size: 17px;
    width: 500px;
}
section form div {
    width: 300px;
    font-size: 18px;
    display: flex;
}
footer {
    height: 60vh;
    width: 100%;
    background-color: rgb(197, 57, 219);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer {
    height: 60vh;
    width: 100%;
    background-color: rgb(197, 57, 219);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#a1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#a1 h2 {
    color: aliceblue;
    font-size: 20px;
}
#a1 a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}
#a1 a:hover {
    color: black;
}
#a2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#a2 h2 {
    color: aliceblue;
}
#a2 input {
    height: 40px;
    width: 350px;
    text-align: center;
    border: black;
    border-radius: 3px;
}
button {
    height: 45px;
    width: 200px;
    background-color: rgb(197, 57, 219);
    border: 2px solid white;
    border-radius: 25px;
}
button a {
    text-decoration: none;
    color: white;
}
button:hover {
    border: 2px solid black;
    color: black;
    box-shadow: 10px 10px;
}
button:hover a{
    color: black;
}
#a3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#a3 h2 {
    font-size: 20px;
    color: aliceblue;
}
#a3 i {
    font-size: 30px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
#a3 i:hover {
    color: black;
    text-shadow: 10px 10px 6px;
}